*.txt
*.xml
*.html
*.diff

# csv
/Projects/CursePoints/*.csv
wago/community-listfile.csv
wago/*/*.csv

# python
/.venv
/apicache
/logs
*.lwp
*.ctrl
*.pyc

# hererocks
/.lua

# pywikibot
user-config.py
user-password.py

# framexml
/FrameXML
/wow-ui-source

# output folder
.wow
